/ejercicio1/nbproject/private/
/ejercicio1/build/
/ejercicio2/nbproject/private/
/ejercicio2/build/
/ejercicio3/nbproject/private/
/ejercicio3/build/
/ejercicio4/nbproject/private/
/ejercicio4/build/
/ejercicio5/nbproject/private/
/ejercicio5/build/
/ejercicio6/nbproject/private/
/ejercicio6/build/
/ejercicio7/nbproject/private/
/ejercicio7/build/
/ejercicio8/nbproject/private/
/ejercicio8/build/
/ejercicio9/nbproject/private/
/ejercicio9/build/
/ejercicio10/nbproject/private/
/ejercicio10/build/
/ejercicio11/nbproject/private/
/ejercicio11/build/
/ejercicio12/nbproject/private/
/ejercicio12/build/
/ejercicio13/nbproject/private/
/ejercicio13/build/
/ejercicio14/nbproject/private/
/ejercicio14/build/
/ejercicio15/nbproject/private/
/ejercicio15/build/
/ejercicio16/nbproject/private/
/ejercicio16/build/
/ejercicio17/nbproject/private/
/ejercicio17/build/
/ejercicio18/nbproject/private/
/ejercicio18/build/
/ejercicio19/nbproject/private/
/ejercicio19/build/
/ejercicio20/nbproject/private/
/ejercicio20/build/
/ejercicio21/nbproject/private/
/ejercicio21/build/
/ejercicio_extra_1/nbproject/private/
/ejercicio_extra_1/build/
/ejercicio_extra_2/nbproject/private/
/ejercicio_extra_2/build/
/ejercicio_extra_3/nbproject/private/
/ejercicio_extra_3/build/
/ejercicio_extra_4/nbproject/private/
/ejercicio_extra_4/build/
/ejercicio_extra_5/nbproject/private/
/ejercicio_extra_5/build/
/ejercicio_extra_6/nbproject/private/
/ejercicio_extra_7/nbproject/private/
/ejercicio_extra_8/nbproject/private/
/ejercicio_extra_9/nbproject/private/
/ejercicio_extra_10/nbproject/private/
/ejercicio_extra_6/build/
/ejercicio_extra_7/build/
/ejercicio_extra_8/build/
/ejercicio_extra_9/build/
/ejercicio_extra_10/build/
/ejercicio_extra_11/nbproject/private/
/ejercicio_extra_11/build/
/ejercicio_extra_12/nbproject/private/
/ejercicio_extra_12/build/
/ejercicio_extra_13/nbproject/private/
/ejercicio_extra_13/build/
/ejercicio_extra_14/nbproject/private/
/ejercicio_extra_14/build/
/ejercicio_extra_15/nbproject/private/
/ejercicio_extra_15/build/