/ejercicio1/nbproject/private/
/ejercicio1/build/
/ejercicio2/nbproject/private/
/ejercicio2/build/
/ejercicio3/nbproject/private/
/ejercicio3/build/
/ejercicio4/nbproject/private/
/ejercicio4/build/
/ejercicio5/nbproject/private/
/ejercicio5/build/